.productCardCont {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 20em;
}

.productCardCont img {
  max-height: 10em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
