.productCardCont {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 15em;
  max-height: 25em;
  padding: 1em;
  border: black solid 1px;
  border-radius: 1%;
  justify-content: space-between;
}

.productImgCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.productCardCont img {
  max-width: 10em;
  max-height: 10em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
