.checkoutCont {
  overflow-y: auto;
}

.basketCont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5em;
  gap: 2em;
}

.basketContents {
  max-width: 50em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.bagHeader {
  padding: 1em;
  font-weight: 700;
}

.basketItemList {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.basketCard {
  background-color: white;
  max-width: 50em;
  padding: 2em;
  gap: 1em;
}

.basketItemCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.basketItemImgCont {
  height: 110px;
  width: 110px;
  position: relative;
  display: flex;
}

.basketItemCont img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  justify-content: space-around;
}

.itemInfo p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.cardPrice {
  font-weight: 700;
}

.cardTitle {
}

.quantityCont {
  justify-self: flex-end;
}

.basketSummary {
  min-width: 30em;
  background-color: white;
  height: fit-content;
}
