.checkoutCont {
  /* overflow-y: auto; */
  height: 100%;
}

.basketCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5em;
  gap: 2em;
}

.basketContents {
  max-width: 50em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.bagHeader {
  padding: 1em;
  font-weight: 700;
}

.basketItemList {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.basketCard {
  background-color: white;
  max-width: 50em;
  padding: 2em;
  gap: 1em;
}

.basketItemCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.basketItemImgCont {
  height: 110px;
  width: 110px;
  position: relative;
  display: flex;
}

.basketItemCont img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  justify-content: space-around;
}

.itemInfo p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.cardPrice {
  font-weight: 700;
}

.cardTitle {
}

.quantityCont {
  justify-self: flex-end;
}

.basketSummary {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: fit-content;
  max-width: 270px;
  flex-grow: 1;
  padding-left: 2em;
  padding-right: 2em;
}

.totalCont {
  width: 100%;
  display: flex;
  border-bottom: solid grey 1px;
}

.priceCont {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  border-bottom: solid grey 1px;
}

.priceEntry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h4 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.priceEntryValue {
  font-weight: 100;
}

.checkOutBtnCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  padding-bottom: 2em;
}

.checkOutBtnCont button {
  width: 100%;
  font-size: 12pt;
  padding: 0.5em;
  background-color: rgb(21, 145, 21);
  font-weight: 900;
}
