.homeCont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.homeLeftDiv {
}

.homeLeftDiv button {
  color: white;
  border-radius: 17em;
  padding: 0em 1em;
}

.homeRightDiv {
}

.homeRightDiv img {
  height: 30em;
  border: 1px solid white;
}
