.sidebarCont {
  flex-grow: 1;
  padding: 0.5em;
  background-color: white;
}

.categoryList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.categoryList ul {
  list-style: none;
}
.categoryList ul,
.categoryList li {
  margin: 0;
  padding: 0;
}

.categoryList button {
  background: none;
  cursor: pointer;
  height: 4em;
  font-size: 1em;
  border: none;
  color: rgba(0, 0, 0, 0.743);
  font-weight: 100;
}

.categoryList .active {
  font-weight: 600;
  color: rgba(0, 0, 0);
}
